*
{
	font-family:"Crete Round",serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #34495E;
}

.container
{
	padding-bottom: 70px;
}

@media screen and (max-width: 855px) {
	.container
	{
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 578px) {
	.container
	{
		padding-bottom: 200px;
	}
}

h1
{
	color: #f1f1f1;
	font-size: 3em;
	text-align: center;
}

h2 
{
	text-align:center;
	font-size: x-large;
	font-style: bold;
	color: #f1f1f1;
}

.art 
{
	text-align: justify;
	font-size: medium;
	margin-right: 25%;
	margin-left: 25%;
	padding: 5px;
	color:#000;
	border:3px solid #36b9cc;
	background-color: #f1f1f1;
}