*
{
	font-family:"Crete Round",serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #34495E;
}

.container
{
	padding-bottom: 70px; 
}

@media screen and (max-width: 855px) {
	.container
	{
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 578px) {
	.container
	{
		padding-bottom: 200px;
	}
}

#main
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 7%;
	padding-top: 2%;
}

#home_title{
	color: #f1f1f1;
	font-size: 3em;
	text-align: center;
}

button:hover 
{
	opacity : 0.75;
}

p
{
	font-family: "Helvetica Neue"
	font-size : 3%;
	font-weight : bold;
	margin-top: 80%
}

#main button{
	position:fixed;
	color: #34495E;
	font-size: 80%;
	background-color:#36b9cc;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom:20px;
	margin-top:20px;
	border: none;
	width: 175px; /*taille button*/
	height: 175px;
	padding:10px;
	cursor: pointer;
	position :relative;
	background-repeat : no-repeat;
	background-size: 45%; /*taille background du button */
	background-position : center;
	text-align: center;
	resize:none;
}

#profil
{
	background-image: url(../images/profil.png);
}

#faq{
	background-image: url(../images/questionmark.png);
}

#logement
{
	background-image: url(../images/building.png);
}

#connecte
{
	background-image: url(../images/users.png);
}

#assistance
{
	background-image: url(../images/support.png);
}

#consommation
{
	background-image: url(../images/house.png);
}

#scenario{
	background-image: url(../images/scenario.png);
}


#deconnecter
{
	background-image: url(../images/shutdown.png);
}

#CapteursActionneurs{
	background-image: url(../images/c&a.png);
}

#ListeClients{
	background-image: url(../images/scenario.png);
}