*
{
	font-family:"Crete Round",serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #34495E;
}

.container
{
	padding-bottom: 70px;
}

@media screen and (max-width: 855px) {
	.container
	{
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 578px) {
	.container
	{
		padding-bottom: 200px;
	}
}

h2 {
	margin-left: 30px;
	text-align: center;
}

#contain{
	color:#34495e;
	background:white;
	width: 25%;
	position: fixed;
	top:20%;
	left: 40%;	
}

.main{
	color:#f1f1f1;
	font-weight: none;
	text-transform: none;
	font-size:16px;
}

.partie_gauche{
	margin-left: 20%;
}

.partie_droite{
	margin-left: 20%;
}

input
{
	margin:10px auto;
	text-align: center;	
	border:1px solid #36b9cc;
	padding:10px 18px;
	border-radius: 24px;
}
select
{

	margin:10px auto;
	text-align: center;	
	border:1px solid #36b9cc;
	padding:10px 18px;
	border-radius: 24px;
}

input[type ="submit"]
{
	margin-left: 38%;
	color:#f1f1f1;
	background: #36b9cc/*#2ecc710*/;
	padding:10px 18px;
}
input[type="submit"]:hover
{
	background-color: #2c9faf;
}