*
{
  font-family:"Crete Round",serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

img
{
  width: 100%;
  height: auto;
}

.container
{
  padding-bottom: 50px;
}

@media screen and (max-width: 855px) {
  .container
  {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 578px) {
  .container
  {
    padding-bottom: 200px;
  }
}

.texttitle
{
  font-size: 2em;
}

.contain
{
  position: relative;
  width: 100%;
}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text 
{
  color: white;
  font-size: 1em;
  -ms-transform: translate(-50%, -50%);
}

.white
{
  color : white;
}

.black
{
  color: black;
}

.grey
{
  color: grey;
}

.button
{
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.image 
{
  display: block;
  width: 100%;
  height: auto;
  filter: blur(1px);
}

.overlayleft 
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.overlayright 
{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.container:hover .overlayleft 
{
  width: 50%;
}

.container:hover .overlayright 
{
  width: 50%;
  left: 50%;
}