*
{
	font-family:"Crete Round",serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #34495E;
}

.container
{
	padding-bottom: 70px;
}

@media screen and (max-width: 855px) {
	.container
	{
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 578px) {
	.container
	{
		padding-bottom: 200px;
	}
}

body{
	background-color:#34495E;
}

#profile_title{
	color: #f1f1f1;
	font-size: 3em;
	text-align: center;
}

.listAddresses{
	border:2px solid white;
	position:fixed;
	top:25%;
	left: 22%;
	right:22%;
	padding: 3%;
	overflow-wrap:break-word; 
	color:white;
	font-size:20px;
	font-weight: none;
	text-transform: none;

}		

.ajout{

	color:#36b9cc;
	font-size:18px;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}

.ajout:hover{
	color:#2c9faf;
}

.supp{
	position: relative;
	left: 3%;
	color:#1cc88a;
	font-size:18px;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}