*
{
	font-family:"Crete Round",serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.container
{
	padding-bottom: 70px;
}

@media screen and (max-width: 855px) {
	.container
	{
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 578px) {
	.container
	{
		padding-bottom: 200px;
	}
}

body{
	background-color: #34495E;
}

h1 {
	color: white;
	font-size: 56px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 2px;
}

.profils 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 2em;
	margin-right: 2em;
}

.btn_valid
{
	background-image: url(../images/icon_compte.png);
	margin : 2em;
	border: none;
	width: 12em;
	height: 12em;
	cursor: pointer;
	background-repeat : no-repeat;
	background-position : center;
	text-align: center;
}

p
{
	font-family: "Helvetica Neue"
	font-size : 3%;
	font-weight : bold;
	margin-top: 80%
}